<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-android-rootbeer"
    version="1.0.0">
    <name>RootBeer Library for Cordova</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>        
        <clobbers target="cdvRootBeer" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="cdvRootBeer">
          <param name="android-package" value="com.rb.cdvRootBeer" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/rb/cdvRootBeer.java" target-dir="src/com/rb/" />
       <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
